@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --preto: #0a100dff;
    --brancoescuro: rgba(228, 229, 204, 0.805);
    --branco: rgb(255, 255, 255);
    --vermelhoclaro: #a22c29ff;
    --vermelhoescuro: #902923ff;
    --verde: #386641ff;
    --fonte-titulo: "Radio Canada Big", sans-serif;
    --fonte-texto: "Lora", serif;
}

body {
    background-color: var(--vermelhoescuro);
    font-family: var(--fonte-titulo);
    font-size: 16px;
}

.cabecalho {
    background-color: var(--verde);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.cabecalho-img {
    width: 10%;
    border-radius: 50%;
}

.cabecalho-nav__link {
    text-decoration: none;
    font-family: var(--fonte-titulo);
    font-size: 30px;
    color: var(--branco);
    font-size: 46px;
    transition: 0.3;
}

.principal_capa {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background-color: var(--vermelhoclaro);
    background-repeat: no-repeat;
    margin-left: 12px;
    padding: 24px 12px;
}

.principal-capa__conteudo {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.principal-capa__titulo {
    font-family: var(--fonte-titulo);
    font-size: 32px;
    color: var(--branco);
    margin-bottom: 12px;
}

.principal-capa__texto {
    font-size: 24px;
    margin-top: 24px;
}

.principal-capa__imagem {
    border-radius: 0% 5% 0% 5%
}

.principal-capa__combotao {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.principal-capa__botao {
    background-color: var(--verde);
    border-radius: 5px;
    padding: 1em;
    margin-top: 2em;
    color: var(--vermelhoclaro);
    text-decoration: none;
}

.principal-capa__botao__secundario {
    background-color: transparent;
    border: 2px solid var(--preto);
    color: var(--branco)
}

.propaganda {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 7em;
}

.propaganda__imagem {
    margin-left: 20%;
    width: 50%;
}

.propaganda__titulo {
    font-family: var(--fonte-titulo);
    font-size: 48px;
    color: var(--branco);
}

.propaganda__titulo:hover {
    text-shadow: 3px 3px 5px var(--verde);
    transition: 700ms;
}

.propaganda__texto {
    font-size: 24px;
    color: var(--preto);
}

.propaganda02 {
    display: flex;
    flex-direction: column;
}
.dispositivos{
    text-align: center;
}
.dispositivos__titulo{
    font-family: var(--fonte-titulo);
    font-size: 48px;
    color: var(--brancoescuro);
}

.dispositivos__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}
.lista__item{
    font-size: 24px;
    color: var(--verde);
}