@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root{
--preto: #0a100dff;
--brancoescuro: rgba(228, 229, 204, 0.805);
--branco: rgb(255, 255, 255);
--vermelhoclaro: #a22c29ff;
--vermelhoescuro: #902923ff;
--fonte-titulo:"Radio Canada Big", sans-serif;
--fonte-texto: "Lora", serif;
}
body{
    background-color: var(--vermelhoescuro);
    font-family: var(--fonte-titulo);
    font-size: 16px;
}
.cabecalho{
    background-color:var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.cabecalho-img{
    width: 10%;
    border-radius: 100%;
}
.cabecalho-nav__link{
    text-decoration: none;
    font-family: var(--fonte-titulo);
    font-size: 24px;
    color: var(--branco);
    margin-right: 24px;
}
.cabecalho-nav__link.hover{
    color: var(--brancoescuro);
    font-size: 46px;
    transition: 0.3;
}